<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">My Coding Activity</h2>
        </div>
        <div class="col-sm">
          <div class="card text-center">
            <div class="card-body">
              <figure><embed src="https://wakatime.com/share/@root233333/c16b37a9-0577-4025-99af-42c501702322.svg"></embed></figure>
            </div>
          
          </div>
          
        </div>
        <div class="col-sm">
            <div class="card text-center">
              <div class="card-body">
                <figure><embed src="https://wakatime.com/share/@root233333/22edb642-2c1d-4c0e-ab48-e777469c41df.svg"></embed></figure>
              </div>
            
            </div>
            
          
        </div>
  
      </div>
     
  </section>